unable to use do_parse

I've been struggling for almost an hour trying to write a super simple parser with `do_parse!` but I always hit a cryptic error message.

```rust
// Obsolete Folding WhiteSpace ([RFC 5322 section 4.2](https://tools.ietf.org/html/rfc5322#section-4.2))
//
//  In the obsolete syntax, any amount of folding white space MAY be inserted where the obs-FWS
//  rule is allowed. This creates the possibility of having two consecutive "folds" in a line, and
//  therefore the possibility that a line which makes up a folded header field could be composed
//  entirely of white space.
//
// ```
// obs-FWS         =   1*WSP *(CRLF 1*WSP)
// ```
named!(
    obs_fws,
    do_parse!(
        // match 1 or more whitespaces
        many1!(is_a!(" \t")) >>

        dummy: many0!(
            do_parse!(
                // match exactly one CRLF
                tag!("\r\n") >>
                // followed by 1 or more whitespaces
                many1!(is_a!(" \t")))
        ) >>

        // do_parse! wants us to return something, so we just return whatever the previous parser
        // returned.
        ( dummy )
    )
);
```

I don't even know what I'm doing wrong, because I was unable to get the nice error messages available on nightly. I followed this instructions [from the faq](https://github.com/Geal/nom/blob/master/doc/FAQ.md#using-nightly-to-get-better-error-messages):

```toml
[package]
name = "dummy"
version = "0.1.0"

[dependencies]

[dependencies.nom]
version = "^3"
features = ["nightly"]
```
Then:

```
$  cargo build   --features nightly  
error: Package `dummy v0.1.0 (file:///home/little-dude/rust/dummy)` does not have these features: `nightly`
```
I also tried this variant but still no nice error message:

```
cargo build   --features nom/nightly
   Compiling dummy v0.1.0 (file:///home/little-dude/rust/dummy)
error: cannot find macro `compiler_error!` in this scope
  --> src/lib.rs:55:1
   |
55 | / named!(
56 | |     obs_fws,
57 | |     do_parse!(
58 | |         many1!(is_a!(" \t"))
59 | |     )
60 | | );
   | |__^ help: you could try the macro: `compile_error!`
   |
   = note: this error originates in a macro outside of the current crate (in Nightly builds, run with -Z external-macro-backtrace for more info)

error: aborting due to previous error
```

Well if you use a newer version like `4.0.0-alpha1` you'll get a nicer error:
```
error: do_parse is missing the return value. A do_parse call must end
      with a return value between parenthesis, as follows:

      do_parse!(
        a: tag!("abcd") >>
        b: tag!("efgh") >>

        ( Value { a: a, b: b } )

  --> src/main.rs:55:1
   |
55 | / named!(
56 | |     obs_fws,
57 | |     do_parse!(
58 | |         // match 1 or more whitespaces
...  |
72 | |     )
73 | | );
   | |__^
   |
   = note: this error originates in a macro outside of the current crate (in Nightly builds, run with -Z external-macro-backtrace for more info)

error: aborting due to previous error
```

It still isn't very good as it just points to the end of the `named!` macro but it's better than the error you got. In your specific case the problem seems to be that your inner `do_parse!` is missing its return value.

yes, the issue is in the nested do_parse:

```rust
do_parse!(
                // match exactly one CRLF
                tag!("\r\n") >>
                // followed by 1 or more whitespaces
                many1!(is_a!(" \t")))
```

This one should have a return value, maybe like this, depending on what you want:

```rust
do_parse!(
                // match exactly one CRLF
                tag!("\r\n") >>
                // followed by 1 or more whitespaces
                value: many1!(is_a!(" \t"))) >>
                (value)
```